<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.honeywell.scanner"
    version="0.1.0">

    <name>HoneywellScanner</name>
    <description>Plugin to use the Honeywell Black Dolphin device's hardware barcode scanner</description>
    <license>MIT</license>

    <repo>https://github.com/val-pinkman/honeywell-scanner</repo>
    <issue>https://github.com/val-pinkman/honeywell-scanner/issue</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/honeywellscanner.js" name="HoneywellScanner">
        <clobbers target="com.honeywell.scanner" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/com/honeywell/scanner/HoneywellScanner.java" target-dir="src/com/honeywell/scanner" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HoneywellScanner">
                <param name="android-package" value="com.honey.scanner.HoneywellScanner" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.honeywell.samples.decodesampleactivity.ScanDemoMainActivity"
                android:screenOrientation="portrait"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.honeywell.scanner.TRIGGER" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/honeywell.jar" target-dir="libs" />

        <source-file src="src/android/LibraryProject/res/drawable/android_button.xml" target-dir="res/drawable" />
        <source-file src="src/android/LibraryProject/res/drawable/android_focused.jpg" target-dir="res/drawable" />
        <source-file src="src/android/LibraryProject/res/drawable/android_normal.jpg" target-dir="res/drawable" />
        <source-file src="src/android/LibraryProject/res/drawable/android_pressed.jpg" target-dir="res/drawable" />
        <source-file src="src/android/LibraryProject/res/drawable/mainactivity.png" target-dir="res/drawable" />
        <source-file src="src/android/LibraryProject/res/drawable-hdpi/icon.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/LibraryProject/res/drawable-ldpi/icon.png" target-dir="res/drawable-ldpi" />
        <source-file src="src/android/LibraryProject/res/drawable-mdpi/icon.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/LibraryProject/res/layout/main.xml" target-dir="res/layout" />
        <source-file src="src/android/LibraryProject/res/raw/beep.ogg" target-dir="res/raw" />
        <source-file src="src/android/LibraryProject/res/raw/buzz.ogg" target-dir="res/raw" />
        <source-file src="src/android/LibraryProject/res/values/strings.xml" target-dir="res/values" />

        <!-- plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="File_Clear_screen">Clear screen</string>
            <string name="SymbologySettingMenu">Symbology Setting</string>
            <string name="ClearScreenMenu">Clear Screen</string>
            <string name="app_name">DecodeSample Activity</string>
            <string name="PROMOT_CLICK_SCAN_BUTTON">Please click scan button or scan key to scan barcode.</string>
            <string name="RESTORESYMBOLOGYSETTING">Default symbology setting</string>
        </config-file>


    </platform>
</plugin>